################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CountdownRole/bin/Debug
/CountdownRole/obj/Debug
/CountdownService/bin/Debug
/CountdownService/obj/Debug
/DatabaseUtilities/obj
/LockboxAPI/bin
/LockboxAPI/obj/Debug
*.user
/LockboxAPI.Tests/obj/Debug
/LockBoxSite/bin
/LockBoxSite/obj/Debug
/packages
/.vs
/CountdownService/csx/Debug/roles/CountdownRole/approot/de
/CountdownService/csx/Debug/roles/CountdownRole/approot
/CountdownService/csx/Debug/roles/CountdownRole/base
/CountdownService/csx/Debug
/LockBoxAPI.Tests/bin/Debug
